<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{administrativo/layout}">

<head>
	<title>Produtos - Dashboard</title>
</head>

<body>
	<section class="corpo" layout:fragment="corpo">
		<h1>Produtos</h1>
		<a class="link-cadastro" href="/produto/cadastrar"><button type="button" class="btn btn-secondary">Cadastrar
				Novo Produto</button>
		</a>

		<table class="table my-3">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Gênero</th>
					<th scope="col">Preço</th>
					<th scope="col">Quantidade</th>
					<th scope="col">Capa</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${listaProdutos}">
					<td th:text="${produto.nome}"></td>
					<td th:text="${produto.generoGames}"></td>
					<td th:text="${produto.preco}"></td>
					<td th:text="${produto.quantidade}"></td>
					<td><img th:src="@{/produto/mostrarImagem/{imagem}(imagem=${produto.imagem})}" width="100" /></td>
					<td>
						<a th:href="@{/produto/editar/{id}(id=${produto.id})}"><button type="button"
								class="btn btn-warning"><i class="fa-solid fa-pencil"></i></button>
						</a>
						<a th:attr="data-target='#modal-warning'+${produto.id}" data-toggle="modal" data-target="#modal-warning"><button type="button"
								class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
						</a>
						<div th:id="modal-warning+${produto.id}" class="modal modal-warning fade in">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Remover Produto</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
											<span aria-hidden="true">x</span>
										</button>

									</div>
									<div class="modal-body">
										<h3>Deseja realmente remover esse produto?</h3>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Fechar</button>
										<a type="button" class="btn btn-primary"
											th:href="@{/produto/excluir/{id}(id=${produto.id})}">Sim</a>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>

</html>